.root{
    -fx-background-color: linear-gradient(lime, darkgreen);
    -fx-font-size: 14pt;


}
.button{
    -fx-text-fill: darkgreen;
    -fx-border-insets: 5;
    -fx-background-color: lightgreen;
    -fx-border-color: darkgreen;
    -fx-border-width: 3;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}
.button:hover {
        -fx-text-fill: lightgreen;
        -fx-background-color: darkgreen;
        -fx-border-color: lightgreen;

}
.label{

    -fx-text-fill: lightgreen;
    -fx-border-color: lightgreen;
    -fx-background-color: darkgreen;
    -fx-border-radius: 6;
    -fx-border-width: 2;
    -fx-background-radius: 6;

}

.button-green{
    -fx-text-fill: darkgreen;
    -fx-background-color: lightgreen;
    -fx-border-color: darkgreen;
}

.text-green{
    -fx-text-fill: lightgreen;
    -fx-background-color: darkgreen;
    -fx-border-color: lightgreen;
}

